<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="flurry-phonegap-plugin"
    version="0.2.1">

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>
	
	<name>WP8 Plugin for Windows Store features</name>
	
	<description>Phonegap plugin for Flurry mobile analytics</description>
	<author>John Potter</author>
	
	<keywords>flurry phonegap cordova</keywords>
	<license>MIT</license>
	
	<js-module src="flurryPluginPhonegap3.js" name="flurry">
		<clobbers target="window.plugins.flurry"/>
	</js-module>
	
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
            <feature name="FlurryPlugin">
                <param name="wp-package" value="FlurryPlugin"/>
            </feature>
        </config-file>
		
		<source-file src="wp8/FlurryPlugin.cs"/>
		<source-file src="wp8/JObject.cs"/>
		<source-file src="wp8/JSONDecoder.cs"/>
	</platform>

	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FlurryPlugin">
                <param name="ios-package" value="FlurryPhoneGapPlugin"/>
            </feature>
        </config-file>
        <header-file src="ios/FlurryPhoneGapPlugin.h" />
        <source-file src="ios/FlurryPhoneGapPlugin.m" />
        <source-file src="ios/lib/Flurry.h" />
        <source-file src="ios/lib/libFlurry_5.2.0.a" framework="true"/>
        <framework src="Security.framework"/>
        <framework src="SystemConfiguration.framework"/>
    </platform>

    <platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="FlurryPlugin">
        		<param name="android-package" value="co.themobilefirm.FlurryPlugin.Flurry" />
    		</feature>
		</config-file>

		<source-file src="android/Flurry.java" target-dir="src/co/themobilefirm/FlurryPlugin/" />
		<source-file src="android/lib/FlurryAnalytics-4.1.0.jar" target-dir="libs" />
	</platform>
	
	<info>
	Contributors:
	Koray Balcı (http://www.ccyazilim.com)
	Christoph Atteneder (http://www.christophatteneder.com)
	Ivan Karpan (ivan.karpan@gmail.com, http://ivankarpan.com)
	Jaakko Santala (jaakko@hypermurea.com, http://hypermurea.com)
	Bugs:
	https://github.com/jfpsf/flurry-phonegap-plugin/issues
	Repository:
	https://github.com/jfpsf/flurry-phonegap-plugin
	</info>
	
</plugin>
